## **Seaborn :** Overview

#### _Fondamentaux sur la librairie Seaborn_

ðŸŸ  `on work`

---

1. **Composants**
    * ..

**Librairies**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Librairies setup**

In [2]:
# Pandas
pd.options.display.max_rows = 30
pd.options.display.min_rows = 6

# Matplotlib
plt.style.use('dark_background')

**Pokemon dataset**

(_no-url_)

In [3]:
pokemon_file_path = '../_datasets/pokemon_data.csv'
pkmn_data = pd.read_csv(pokemon_file_path)

pkmn_data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,149,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,3,False
149,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,151,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False